version: 2
updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      pytorch:
        patterns:
          - "torch"
          - "torchvision"
          - "torchaudio"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"