site_name: mlops_project
site_author: DavidLindahl
docs_dir: source

theme:
  language: en
  name: material
  features:
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_root_heading: true
            separate_signature: true
            show_signature_annotations: true

nav:
  - Home: index.md
  - GCP Workflow Guide: ../GCP_WORKFLOW.md
  - API Deployment: ../API_DEPLOYMENT.md
  - GCP Vertex AI Setup: ../GCP_VERTEX_AI_SETUP.md